@charset "UTF-8";

.upbannerwrap{width: 100%;height: 120px;}
.upbanner{width: 1260px;margin: 0 auto;padding:30px 0;}
.upbanner{display: flex;justify-content: space-around;}
.upbanner div,.upbanner img{float: left;}
.iconline{width: 200px;}
.iconline p{float:left;margin-bottom:0;margin-left:10px;}
.iconline img{width: 50px;}
.btnbner{border: 2px solid #ffc107 !important;}

.navwrap .navbar{width: 1260px;margin: 0 auto;padding:0;}
.nav-link{width: 100px;height: 50px;text-align: center;padding:0 !important;line-height:50px;}
.nav-item:hover{background: rgb(255, 180, 80);}

.slidewrap{margin-bottom:70px;}
.slide1 li{background-image: url(../img/img1.jpg);background-repeat: no-repeat;height: 800px;width: 100%;background-position:center;padding:250px 330px;}
.slide1 li h1{font-size:4em;margin-bottom:40px;}
.slide1 li p{font-size:1.2em;margin-bottom:5px;}
.slide1 li .p2nd{margin-bottom:40px;}
.slide1 li .btn1st{margin-right:10px;font-weight:bold;}
.slide1 li .btn2nd{font-weight:bold;}
.slide1 li button{padding:10px 30px;}

.fixwrap{width: 1260px;margin: 0 auto;height: 450px;}
.fiximg{width: 600px;float: left;margin-right:40px;}
.colorbox{width: 150px;background:#ffc107 ;}
.textbox .topp{margin-top:15px;}
.textbox p{color: #747474;}
.textbox h1{float: left; margin-right:15px;font-weight:bold;color: #ffc107;font-size:3em;}
.textbox h3{padding:10px 0;}
.textbox button img{width: 25px;margin-right:5px;}
.textbox button{width: 170px;height: 45px;margin-right:15px;}

.cardwrap{width: 1260px;margin: 0 auto;margin-bottom:100px;position: relative;}
.cardwrap>p{margin-bottom:0;color: #747474;}
.cardwrap>p,.cardwrap>h1{text-align: center;}
.card{width: 300px !important;margin-top:50px;border: 5px solid rgba(0,0,0,.125) !important;}
.card img{width: 100px;margin-bottom:10px;}
.card button{font-weight: bold;}
.card-body>p{color: #747474;}
.btnarow{width: 39px;height: 38px;position: absolute;bottom:0;right:0;}

.maleimg{width: 1260px; margin: 0 auto;padding:30px;display:flex;justify-content: space-around;padding:50px 0;}
.maleimg .maletext{width: 400px;float: left;text-align: center;}
.maleimg .maletext h2{margin-bottom:30px;}
.maleimg .maletext p{color: #747474;}
.maleimg img{width:400px;}

.fimgbox{width: 100%;background-image: url(../img/coding.png);background-repeat: no-repeat;background-size: cover; color: white !important;padding:50px 0;}
.prog{width: 1260px;margin: 0 auto;}
.flextext{display:flex;justify-content: space-between;}
.prog>h1,.prog>p{text-align: center;}
.firbox{width: 300px;}
.numbox h1{float:left;margin-right:30px;font-size:3.8em;margin-bottom:0 !important;font-weight:bold; color: #ffc107;}
.numbox h3{font-weight:bold;}
