@charset "UTF-8";

.toplogoimg{width: 100px;}
.upbannerwrap{width: 100%;height: 120px;}
.upbanner{padding:30px 0;display: flex;justify-content: space-around;}
.upbanner button{height: 50px;}
.upbanner div,.upbanner img{float: left;}
.iconline{width: 200px;}
.iconline p{float:left;margin-bottom:0;margin-left:10px;font-weight:bold;}
.iconline span{float:left;margin-bottom:0;margin-left:10px; color: #ffc107;}
.iconline img{width: 50px;}
.btnbner{border: 2px solid #ffc107 !important;}

.navwrap .navbar{width: 100%;margin: 0 auto;padding:0;}
.navbar .navbar-brand img{width:80px;}
.navbar-toggler{float: right;}
.nav-link{width: 100px;height: 50px;text-align: center;padding:0 !important;line-height:50px;}
.nav-item{transition:0.6s;}
.nav-item:hover{background: rgb(255, 180, 80);}

.slidewrap{margin-bottom:70px;}
.slide1 .img1{background-image: url(../img/img1.jpg);background-repeat: no-repeat;height: 800px;width: 100%;background-position:center;}
.slide1 .img2{background-image: url(../img/img2.jpg);background-repeat: no-repeat;height: 800px;width: 100%;background-position:center;}
.slide1 .img3{background-image: url(../img/img3.jpg);background-repeat: no-repeat;height: 800px;width: 100%;background-position:center;}
.slide1 li{text-align: center;}
.slide1 li h1{font-size:4em;margin-bottom:40px;}
.slide1 li p{font-size:1.2em;margin-bottom:5px;}
.slide1 li .p2nd{margin-bottom:40px;}
.slide1 li .btn1st{margin-right:10px;font-weight:bold;}
.slide1 li .btn2nd{font-weight:bold;}
.slide1 li button{padding:10px 30px; width: 220px;}
.bx-wrapper {
  -moz-box-shadow:none !important;
-webkit-box-shadow:none !important;
      box-shadow:none !important;
      border: 0 none !important;
      margin-bottom:0 !important;}


.imgfix{width:100%;}
.fiximg{width:500px;float: left;margin-right:40px;}
.colorbox{width: 150px;background:#ffc107 ;}
.textbox{}
.textbox .topp{margin-top:15px;}
.textbox p{color: #747474;}
.textbox h1{float: left; margin-right:15px;font-weight:bold;color: #ffc107;font-size:3em;}
.textbox h3{padding:10px 0;}
.textbox button img{width: 25px;margin-right:5px;}
.textbox button{width: 170px;height: 45px;margin-right:15px;}
.textbox button span{color: #ffc107;}

.card100p{background: #f5f5f5;padding:40px 0 1px 0; text-align: center;}
.card100p .textbox2 p{margin-bottom:0;color: #747474;}
.card100p .card{border: 0px none !important;}
.card100p .card img{width: 100px;margin-bottom:10px;}
.card100p .card button{font-weight: bold;}
.card100p .card-body>p{color: #747474;}
.btnarow{width: 39px;height: 38px;position: absolute;bottom:0;right:0;}

.slider .row{position: relative;}
.silder .swiper-button-next,.silder .swiper-button-prev{position: absolute;}
.maletext{width: 400px;float: left;text-align: center;}
.maletext h2{margin-bottom:30px;}
.maletext p{color: #747474;}
.male img{width:400px;}

.fimgbox{width: 100%;background-image: url(../img/coding.png);background-repeat: no-repeat;background-size: cover; color: white !important;padding:50px 0;}
.fimgbox .textbox3{text-align: center;}
.firbox{width: 300px;}
.numbox h1{float:left;margin-right:30px;font-size:3.8em;margin-bottom:0 !important;font-weight:bold; color: #ffc107;}
.numbox h3{font-weight:bold;}

.formwrap{width: 1260px;margin: 0 auto;padding:80px 0;display:flex;}
.formwrap img{width: 600px; float: left;margin-right:20px;}
.formwrap button{width: 200px;margin-top:30px;float: right;}
form{float:left;width: 100%;}
form>p{margin-bottom:0;}
.form-group{height: 40px;width: 100%;}

.gallerywrap h1{margin-bottom: 30px;}
.gallerywrap p{color: #747474;}
.box1{max-height: 300px !important;}
.box2{max-height: 300px !important;}
.box3{max-height: 300px !important;}
.box4{max-height: 300px !important;}
.box5{max-height: 300px !important;}
.box6{max-height: 300px !important;}

.freewrap .card{width: 320px;}
.freewrap .card-body .cardbox{border: 2px solid #ffc107;width: 140px;height: 28px;text-align: center;border-radius:12px;}
.cardwrap2{display:flex;justify-content: space-around;}
.cardwrap2 button{margin:20px 0;}
.freewrap .card img{min-height: 200px;}

.footerupwrap{width: 100%;background:url(../img/footerimg.jpg) no-repeat center;}
.footerwrap{color: white;padding:50px 0;}
.footer{display:flex;}
.footer p{font-size:0.9em;}
.footer .firstft{width: 280px;}
.footer .firstft img{max-width: 120px;max-height:100px;margin-bottom:20px;}
.footer .firstft p{}

.footer .seconft{width: 280px;padding-left:20px;}
.footer .seconft .ft2:after{content:"";display: block;width: 240px;height: 1px;background-color:#a7a7a7;margin:15px 0;}
.footer .seconft .ft2 .adress{float: left;margin-right:10px;}

.footer .thedft{width: 190px;}
.footer .thedft p{cursor: pointer;}

.footer .fourft{width: 270px;}
.footer .fourft form input{width: 200px;display:inline-block;position: relative;}
.footer .fourft form button{position: absolute;}

.fa-long-arrow-alt-right{color:#ffc107;}

.footerdwnwrap{width: 100%;background: #1d1d1d;}
.footerdwrap{color: #8f8f8f;padding:10px 0 0 0;line-height:30px;font-size:0.9em;}
.footerdwnwrap p{display:inline-block;}
.footerdwnwrap ul{float: right;}
.footerdwnwrap ul li{float: left;cursor: pointer;}
.footerdwn span{color:#ffc107;}
.footerdwn .dot{width: 5px;height: 5px;background: #ffc107;display:inline-block;border-radius:2px;margin:0 15px 2px 15px;}
