@charset "utf-8";

/*header*/

#header{background: #f4f4f4;}
#header:after{content:"";display:block;width:100%;height: 5px;background:#0d72a6;}
.bgimg{background:#0866a4;background-image: url(../image/04비행기.jpg);background-repeat: no-repeat;background-position:center;}
.headerwrap{margin: 0 auto;width: 980px;height: 90px;}
.headerwrap form{position: relative;width: 290px;margin: 0px auto;top:30px;right:110px;}

.headerwrap .img1{margin-top:20px;float:left;}
.headerwrap h3{float:left;color: white;margin-right:15px;font-size:2em;transform:translateY(-25%);}
.headerwrap .img2{float:right;}
.headerwrap .iconwrap{float:right;}

.scht{display: block;position: absolute;width: 60px;height: 20px;
				background-image: url(../image/searchtext.jpg);text-indent:-9999px;left: 20px;top:5px;z-index:2;}

.schinp{position: relative;width:290px;height: 30px;text-indent:90px; font-size:13px;border: 3px solid #fff;border-radius:25px;}

.schbtn{background-image: url(../image/search.jpg); background-repeat: no-repeat; background-position:center;text-indent:-9999px;position: absolute;width: 25px;height: 25px;right: 5px;top:50%;transform:translateY(-50%);border: 2px solid #aaa;border-radius:20px;}


/*manu*/

.mainmenu{width: 980px;height: 60px;margin: 0 auto;}
.mainmenu li{float: left;width: 162px;text-align: center;line-height: 60px;position: relative;}
.mainmenu a{display: block;font-weight: bold;}
.mainmenu li:before{content:"";display:block;width: 1px;height: 60px;background-color:#e7e7e7;position: absolute;top:0;}
.mainmenu li:last-child:after{content:"";display:block;width: 1px;height: 60px;background-color:#e7e7e7;position: absolute;top:0;right:0;}

/*body*/


.body{background-image: url(../image/bg_dot.png),url(../image/01배경.jpg); background-repeat: repeat,no-repeat;background-size:auto,cover;width: 100%;height: 1235px;padding-top: 56px;}
.fstbody{width: 980px;margin: 0 auto;position: relative;}

.imgwrap1{margin-top:20px;margin-bottom:16px;}
.imgwrap1 li{float: left;height: 216px;position: relative;}
.imgwrap1 li:first-child{margin-right:16px;}
.imgwrap1 li .bbox1{background: #152630;height: 50px;width: 233px;color: white;line-height:50px;position: absolute;bottom:0;left:0;}
.bbox1 a{float: right;padding-right:20px;}
.bbox1 .txt2{margin: 0 25px;font-weight: bold;}
.bbox1 .txt3{font-weight: bold;color: #6fc466;}
.bbox1 .txt4{font-weight: bold;color: #6fc466;margin-left:20px;}


.txt{position: absolute;right:70px;top:20px;}
.txt h2{font-size:4.4em;color: #14252f;}
.txt p{font-size: 1.8em;color: #14252f;}

/*slider 1*/
.slidwrap{width: 485px;height: 300px;background: pink;position: relative;}
.slidwrap ul{background: blue;}
.slidwrap form{width: 485px;height: 300px;}

.slidwrap .slidertab{position: absolute;left:0;top:0px;width: 100%;}

.slidwrap .slidertab a{display: block;background: white;width:132px; height: 75px;line-height: 20px; text-align: center;font-size:1.5em; top:0;}
.slidwrap .slidertab a.active{background:blue;}

	.bx-wrapper {
    -moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
		    box-shadow:none !important;
		    border: 0 none !important;
		    margin-bottom:0 !important;}

/*slider2*/

.sliderwrap2{width: 233px;float: left;position: relative;}
.slider2 li{position: relative;}
.bbox3{position: absolute;bottom:0;width: 233px;height: 65px;background: #529351;padding: 10px 20px;}
.bbox3 p{margin-bottom:7px;color: white;}

.bt1,.bt2{position: absolute; top:50px;cursor: pointer;}
.bt1{right:0;}


/*slider3*/

.sliderwrap3{float:left;width: 233px;margin-left:16px;position: relative;}
.bbox4{position: absolute;bottom:0;width: 233px;height: 65px;background: #152630;padding: 10px 20px;}
.bbox4 p{margin-bottom:7px;color: white;}

.bt3,.bt4{position: absolute; top:50px;cursor: pointer;}
.bt3{right:0;}

/*body2*/

.body2{width: 980px; margin: 0 auto;margin-bottom:16px;}

.img5, .img6{float: left; padding-left:16px;height: 216px;position: relative;}
.img5 .txt6{position: absolute;top:10px;right:90px;color: white;font-weight: bold;}
.img5{overflow: hidden;}
.bbox5{transition:0.4s;}
.img5:hover .bbox5{top:0;text-align: center;line-height:216px;font-size:1.5em;}

.bbox5 p{color: #cfcfcf; font-size:0.8em;}
.bbox5 .txt7{font-size:1.2em;color: white;}
.bbox5 .txt8{color: white;}
.bbox5{width: 233px;height: 216px;background: rgba(0,0,0,0.3);position: absolute;top:151px;padding: 7px 13px;}

.bbox6{position: absolute;top:10px;left:30px;}
.bbox6 span{font-size:0.8em;font-weight: bold;}
.bbox6 p{font-size:0.75em;font-weight: bold;margin-top:10px;color: #43629b;}
.bbox7{position: absolute;bottom:0;width: 233px;height: 65px;background: #44619d;padding: 10px 20px;color: white;}
.bbox7 p{font-weight: bold;font-size:1.08em;}




/*body3*/

.body3{width: 980px;margin: 0 auto;}
.body3 .box1{margin-right:16px; height: 216px;float: left;}
.mr0 {margin-right:0 !important;}

.box1{position: relative;overflow: hidden;}
.box1 .bt{position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);transition:0.4s;}
.box1  .bg{width: 100%;height: 100%;position: absolute;transition:0.4s;}
.bgbc{background: rgba(0,0,0,0.3);}
.bgg{background: rgba(19,160,101,0.3);}
.bgbl{background: rgba(22,181,178,0.3);}

.box a{}
.box1:hover .top{top:0;}
.box1:hover .bottom{bottom:0;}
.box1:hover .bt{transform:translate(-50%,-50%) rotate(135deg)}

.top{top:-216px;}
.bottom{bottom:-216px;}
