@charset "utf-8";

header#miheader{position: relative;height: 1950px;margin-bottom: 100px;}

/*header top*/
#headert{width: 1260px; position: fixed;left: 50%;transform:translateX(-50%);top: 0;z-index:2;}
#headert .hlogo{margin-left:10px;margin-top:5px;}

#topmnwrap{z-index:1;background: white;height: 50px;width: 100%;position: fixed;}

#headert>h1{float: left;height: 50px;}
#mimenu{float: right;height: 50px;}
#mimenu li{float:left;height: 50px;position: relative;}
#mimenu li a{height: 50px;display: block;}
#mimenu li a:hover{color: #c40f38;}
#mimenu>ul>li>a{line-height:50px;padding: 0 25px;}
.tgmenu{display: none;}

.submenu{position: absolute;width: 230px;top:43px; right:0; background:rgba(255,255,255,0.8);height: 201px;transition:.3s;overflow: hidden;}
.submenu.a{left:-56px;height: 1px;}
.submenu.b{left:-50px;height: 1px;}
.submenu.c{left:-42px;height: 1px;}
.submenu.d{left:-33px;height: 1px;}
.submenu.e{left:-56px;height: 1px;}
.submenu.f{left:-19px;height: 1px;}

.submenu a{width: 220px;display: block;line-height:30px;transition:.3s;text-align: center;
height: 100px;color: #6a6a6a;}
#mimenu>ul>li:hover .submenu.a{height: 360px;}
#mimenu>ul>li:hover .submenu.b{height: 310px;}
#mimenu>ul>li:hover .submenu.c{height: 60px;}
#mimenu>ul>li:hover .submenu.d{height: 120px;}
#mimenu>ul>li:hover .submenu.e{height: 210px;}
#mimenu>ul>li:hover .submenu.f{height: 120px;}
.submenu li:first-child{margin-top:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:40px !important;}
.p12{padding-left:12px;}
.p5{padding-left: 5px;}



/*slider*/

.sliderwrap{height: 1005px; position: relative;}
/*.sliderwrap li img{width: 100%;}*/
.sliderwrap li{height: 1005px;background-repeat: no-repeat;background-position:center;background-size: cover;}
.sliderwrap li.slider1st{background-image: url(../img/img01-24.jpg);}
.sliderwrap li.slider2st{background-image: url(../img/img01-25.jpg);color: white;}
.sliderwrap li.slider3st{background-image: url(../img/img01-26.jpg);}

.sliderwrap .slidertxt{position: absolute;width: 600px;margin-left:-250px;}
.sliderwrap .slidertxt h3{font-size:2.4em;margin-bottom:20px;}
.sliderwrap .slidertxt p{font-size:1.3em;}
/* .sliderwrap .slidertxt.txt1 h3:after{content:""; display: block;width: 300px;height: 4px;background: #c40f38; margin: 20px 0;}
.sliderwrap .slidertxt.txt2 h3:after{content:""; display: block;width: 300px;height: 4px;background: #c40f38; margin: 20px 0;}
.sliderwrap .slidertxt.txt3 h3:after{content:""; display: block;width: 300px;height: 4px;background: #c40f38; margin: 20px 0;} */
.sliderwrap .slidertxt.txt1{left: 30%;top: 28%;}
.sliderwrap .slidertxt.txt2{right: 17%;top: 28%;text-align: right;}
.sliderwrap .slidertxt.txt3{left: 30%;top: 30%;}

.slider2nd .right{background: #c40f38;}


.bx-wrapper {
  -moz-box-shadow:none !important;
-webkit-box-shadow:none !important;
      box-shadow:none !important;
      border: 0 none !important;
      margin-bottom:0 !important;}

.sliderwrap .bx-wrapper .bx-pager{
    bottom:100px;}

.bx-viewport .bt3,.bx-viewport .bt4{position: absolute;top:30%; cursor: pointer;}
.bx-viewport .bt3{right:100px;}
.bx-viewport .bt4{left:100px;}
.bx-viewport .bt3 img,.bx-viewport .bt4 img{width: 100px;}

/*content*/

.content{width: 1260px;position: absolute;left: 50%;transform:translate(-50%);bottom: 0px;}
.content>ul>li{float: left;width: 25%;height: 315px;position: relative;overflow: hidden;}
.content>ul>li>a{color: #000;display: block;}
.content>ul>li>a>p{margin-top:10px;}
.content .icon{width: 70px;height: 70px;}
.content .play{width: 100px;height: 100px;}
.content .txt{width: 610px;height: 295px;background: #c40f38; ;opacity: 0;transition: .3s;}
.content .txt2{width: 295px;height: 610px;background: #c40f38;opacity:0;transition: .3s;}
.content .ct7st .txt2.flus{position: absolute;top:10px; left:10px;}
.content .txt:hover{opacity:1;}
.content .txt2:hover{opacity:1;}

/*content layout*/

/*.content li:nth-child(2n){background: skyblue;}*/
.content li.ct1st{background: white;font-size:1.3em;}
.content li.ct2st{}
.content li.ct3st{width: 50%;}
.content li.ct4st{background: #bcbcbc;font-size:1.3em;}
.content li.ct5st{background: white;font-size:1.3em;}
.content li.ct6st{width: 50%;}
.content li.ct7st{height: 630px;}
.content li.ct8st{width: 50%;}
.content li.ct9st{background: #eeeeee;font-size:1.3em;}
.content li.ct10st{background: #bcbcbc;font-size:1.3em;}
.content li.ct11st{width: 50%;}

/*content cell*/

.content li.ct1st a,
.content li.ct4st a,
.content li.ct5st a,
.content li.ct9st a,
.content li.ct10st a{text-align: center;display: block;height: 100%; padding-top:85px;}

.content li.ct1st img,
.content li.ct4st img,
.content li.ct5st img,
.content li.ct9st img,
.content li.ct10st img{display: block;margin: 0 auto;margin-bottom: 5px;}
.content li.ct1st p{}

/*content txt*/
.content div.txt{position: absolute;top: 10px;left: 10px;color:white;padding: 80px 0;text-align: center;}
.content div.txt2{position: absolute;top: 10px;left: 10px;color:white;padding: 260px 0;text-align: center;}
.content div.txt p,.content div.txt2 p{font-size:0.8em;}
.content div.txt h2,.content div.txt2 h2{margin-bottom:30px;}
.content div.txt img,.content div.txt2 img{transition:.3s;}
.content div.txt:hover .plus{transform:rotate(270deg);}
.content div.txt2:hover .plus{transform:rotate(270deg);}


/*modal layer*/
.content .ct2st .bgimg{transition:0.3s; width: 315px;height: 315px;}
.content .ct2st:hover .bgimg{transform: scale(1.2);}
.content .ct2st .play{position: absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);}

/*bx slider2nd*/
.content .ct3st{position: relative;}
.content .ct3st h2{position: absolute;top: 40px;left: 40px;}
.content .ct3st h2 span{color: #c40f38;}
.content .sliderwrap{width: 630px;height: 315px;}
.content .sliderwrap li.news{width: 630px;height: 315px;}
.content .sliderwrap .left{float: left;width: 315px;height: 315px;padding: 80px 40px;position: relative;}
.content .sliderwrap .left:after{
	content:"";
	display: block;
	border-width:30px;
	border-style:solid;
	border-color:transparent transparent transparent white;position: absolute;
	top: 50%;transform:translateY(-50%);right: -60px;}

.content .sliderwrap .right{float: right;width: 315px;height: 315px;}

.slider2nd img{width: 315px;height: 315px;}
.slider2nd h4{margin-bottom:10px;}
.slider2nd p{font-size: 0.9em;color: #6a6a6a;}



.sliderwrap .bt1,.sliderwrap .bt2{position: absolute;top:40%;cursor:pointer;}
.sliderwrap .bt1{right:0;}
.sliderwrap .bt2{}
.sliderwrap .bt1 img,.sliderwrap .bt2 img{width: 50px;}




/*container*/
.container{height: 750px;background:url(../img/img04-3.jpg) no-repeat center fixed; background-size:cover;color: white;padding-top: 70px;}

.container .section{width: 1260px;margin: 0 auto;}
.container h4{text-align: center;}
.container h4:after{content:"";display: block;width: 50px;height: 3px;background: #c40f38; margin: 20px auto;}
.container .section>p{text-align: center;font-size:2em;margin-bottom: 40px;}
.container .section li{float: left;margin-right:20px;width: 300px;height: 380px;padding-top:70px;border-radius:10px;transition:0.3s;}
.container .section li:hover{box-shadow:8px 8px 10px rgba(255,255,255,0.5);transform: translate(-10px,-10px);}

.container .section li:last-child{margin-right:0;}
.container .section li img{display: block;margin: 0 auto;width: 100px;height: 100px;}
.container .section li .cardbd{text-align: center;padding: 20px 40px;}
.container .cardbd h3{margin-bottom: 10px;}

/*bottom box*/
.bottomwrap{padding:80px 0;padding-bottom:0;}
.bottomwrap:after{content:"";display: block;width: 100%;height: 1px;background: #000; margin-bottom:40px;}
.snswrap{width: 1260px;height: 630px;margin: 0 auto;margin-bottom:80px;}
.bottomwrap .icon07{width: 100px;height: 100px;}
/* .bottomwrap .snsicon{position: absolute;top: 100px;left:110px;} */
.bottomwrap .snsicon h2{text-align: center;line-height:50px;color: white;text-align: center;}
.snsicon .icona a{color: white;font-weight:bold;height: 80px;transition:0.7s;font-size:1.7em;}
.snsicon .icona a:hover{font-size:1.9em;}

.snswrap ul li a{display: block;width: 315px;height: 315px;overflow: hidden;}
.snswrap ul li a img{transition:0.5s;}
.snswrap ul li a img:hover{transform: scale(1.2);}
.snswrap .color{background: #f2f2f2;position: relative;}
.snswrap p{padding:40px;}
.snswrap .color:after{
	content:"";
	display: block;
	border-width:30px;
	border-style:solid;
	border-color:transparent transparent transparent #f2f2f2;position: absolute;
	top: -60px;transform:rotate(270deg) translateY(127.5px); z-index:1;}
	.snswrap .color.md:after{
	content:"";
	display: block;
	border-width:30px;
	border-style:solid;
	border-color:transparent transparent transparent #f2f2f2;position: absolute;
	top: 187.5px;transform:rotate(90deg) translate(127px,-127.5px); z-index:1;}

.snswrap li{float: left;width: 315px;height: 315px;}
.snswrap li:first-child{height: 630px !important; background: #c40f38;position: relative;text-align: center;padding-top:100px;}

.impo{width: 1260px;margin: 0 auto;margin-bottom: 80px;overflow: hidden;}
.impo li{float: left;width: 630px;height: 315px;position: relative;}
/* .impo li h1:after{content:"";display: block;width: 100px;height: 4px;background: #c40f38;margin:10px 0;} */
.impo li a{width: 200px;height: 50px;display: block;border: 1px solid #bcbcbc;text-align: center;line-height:50px;}
.impo li h2{margin-bottom:20px;}
.impo li span{color: #c40f38;}
.impo li .colorscreen{width: 630px;height: 315px;background: rgba(255,255,255,0.6);position: absolute;top:0;left:0;text-align: center;padding-top:100px;}
.impo li:nth-child(1){background-image:url(../img/brand4.jpg);background-size: cover;}
.impo li:nth-child(2){background-image:url(../img/companyimg3.jpg);background-size: cover;}

.impo li .colorscreen.fir{transition:0.4s;top:315px;}
.impo li .colorscreen.sec{transition:0.4s;top:315px;}

/* .impo li .colorscreen.fir{transition:0.7s;top:0px;}
.impo li .colorscreen.sec{transition:0.7s;top:0px;} */

.impo li .colorscreen.fir a{background: white;margin: 0 auto;}
.impo li .colorscreen.sec a{background: white;margin: 0 auto;}
.impo li .colorscreen.fir a img{width: 130px;padding-top:12px;}
.impo li .colorscreen.sec a img{padding-top:6px;}

.impo li:hover .colorscreen.fir{top:0px;}
.impo li:hover .colorscreen.sec{top:0px;}

/*footer*/
.footer{width: 1260px;margin: 0 auto;margin-bottom: 60px;}
.footer li{float: left;margin-right:28px;margin-bottom:10px;position: relative;}
.footer li:after{content:"";display: block;height: 15px;width: 1px;background: #000;position: absolute;top:3px;left:-12px;}
.footer li:first-child:after{content:"";display: none;}
.footer li a{display: block;}
.footer .ftlogo img{margin-top:20px;}
.footer .ftlogo{float: left;width: 225px;height: 100px;background-image: url(../images2/logo.png);background-repeat: no-repeat;background-position: 10px 25px}
.footer .txt{float: left;font-size:0.9em;color: #ccc;}
