@charset "UTF-8";


.slideron{position: relative;height: 1000px;}
.navbar{z-index:2;position: absolute;}
.sliderwrap{position: absolute;top:-69px;z-index:1;min-width:576px;text-align: center;}
.container.maincon{padding:0 !important; z-index:;}
.slider .slider1st{background:url(../img/main.jpg) no-repeat center;min-height: 800px;display: flex;justify-content: center;align-items: center;background-size: cover;}
.slider .slider2st{background:url(../img/main2.jpg) no-repeat center;min-height: 800px;display: flex;justify-content: center;align-items: center;background-size: cover;}
.slider .slider3st{background:url(../img/main3.jpg) no-repeat center;min-height: 800px;display: flex;justify-content: center;align-items: center;background-size: cover;}
.mainwrap .logoimg{width: 130px;}
.nav-item{position: relative; font-size:0.9em;}
.nav-item span{font-size:0.5em;color: white;background: #ff4747;width: 12px;height: 12px;display: block;border-radius:5px;text-align: center;line-height:12px;font-weight:bold;position: absolute;top:5px;right:0;}
.textbox{color: white;}
.textbox img{height: 800px;background-position: center;}
.textbox h1{padding:20px 0;}
.textbox button{background: #ffb34f;width: 140px;height: 40px;margin-top:40px;}

.bx-wrapper {
  -moz-box-shadow:none !important;
-webkit-box-shadow:none !important;
      box-shadow:none !important;
      border: 0 none !important;
      margin-bottom:0 !important;}

.cardwrap{display:flex;position: absolute;bottom:-30px;text-align: center;}
.cardwrap .card{width: 370px;box-shadow:10px 10px 15px rgba(134, 134, 134, 0.5);z-index:3;}
.cardwrap .card:after{display: block;content:"";border: 3px solid #ffb34f;}
.cardwrap .card .fa-hand-holding-heart,.cardwrap .card .fa-hands,.cardwrap .card .fa-donate{margin: 0 auto;width: 60px;height: 60px;margin-top:20px;color: #ffb34f;}
.card-body h4{font-weight:bold;color: #003675;}

.textline{text-align: center;margin-bottom:50px;}
.textline h2{font-weight:bold;color: #003675;margin-bottom:20px;}
.textline button{background: #ffb34f;width: 160px;height: 50px;margin-top:20px;font-weight: bold;color: white;}

.blueboxwrap{height: 700px;background: #012147;color: white;}

.grape{position: relative;display:flex;justify-content: space-between;text-align: center;}
.grape span{position: absolute;font-size:2em; font-weight:bold;top:135px;left:95px;}
.grape .card img{width:150px;margin:20px 0 20px 50px;}
.grape .card{background: transparent;border: 0px none;}
.grape .card-body button{width: 160px;margin-top:10px;}
.history{overflow: hidden;}
.history .hisimg{position: relative;}
.history .hisimg .moveimg{position: absolute;right: 0;}
.history .hisimg .imgexe.oneimg{background: url(../img/children-205219_1920.jpg) no-repeat center;background-size: cover;}
.history .hisimg .imgexe.twoimg{background: url(../img/woman-302551_1920.jpg) no-repeat center;background-size: cover;}
.history .hisimg .imgexe.threeimg{background: url(../img/people-3137672_1920.jpg) no-repeat center;background-size: cover;}
.history .hisimg .bluebox{width: 1100px;height: 360px;position: absolute;background: #012147;z-index:-1;bottom:-60px;right:-400px;padding: 90px 400px 0 25px; color: white;}
.hisimg .bluebox .fa-quote-left{color: #ffb34f;width: 60px;height: 60px;}
.history .hisimg .imgexe{width: 180px;height: 240px;margin-left:30px;float: left;}
.histext .ourtext h3{color: #003675;font-weight:bold;}
.histext .ourtext p{color: #6a6a6a;}

.imgsec{margin-bottom:80px;}
.imgsec .img4 .img4img{width: 260px;height: 280px;float: left;}
.imgsec .img4text button{width: 160px;height: 50px;}
.imgsec .img4 .img4img.oneimg{background: url(../img/cheering-1031743_1280.jpg) no-repeat center;background-size: cover;}
.imgsec .img4 .img4img.twoimg{background: url(../img/students-377789_1280.jpg) no-repeat center;background-size: cover;}
.imgsec .img4 .img4img.threeimg{background: url(../img/children-734891_1280.jpg) no-repeat center;background-size: cover;}
.imgsec .img4 .img4img.fourimg{background: url(../img/children-of-uganda-1994833_1280.jpg) no-repeat center;background-size: cover;}
.imgsec .img4text .fa-bullseye{color: #ffb34f; margin-right:15px;}
.imgsec .img4text h3{font-weight:bold;color: #003675; margin-bottom:30px;margin-top:35px;}

.newssec{text-align: center;background: #f1f1f1;height:700px;}
.newssec h2{color: #003675;padding:30px 0;font-weight: bold;}
.newssec .newsimg{float: left;width: 550px;height: 300px;background: pink;position: relative;}
.newssec .newsimg.oneimg{background: url(../img/desert-1913130_1280.jpg) no-repeat center;background-size: cover;}
.newssec .newsimg.twoimg{background: url(../img/panorama-2105955_1920.jpg) no-repeat center;background-size: cover;}
.newssec .newsimg .card{width: 450px;position: absolute;bottom:-200px;left:50px;border: 0px none;}
.newssec .newsimg .card-body h6{color: #ffb34f;margin-top:10px;}
.newssec .newsimg .card-body button{width: 150px;height: 45px;}

.footer{background: #012147;color: white;height: 80px;}
.footer img{width: 130px;height: 38px;margin-top:20px;}
.footer .footerlogo{width: 380px;}
.footer .emailbox{display:flex;height:80px;width: 380px;justify-content: space-around;line-height: 80px;position: relative;}
.footer .emailbox:after{content:"";display: block;width: 1px;height: 80px;background:white;position: absolute;right:0;}
.footer .emailbox:before{content:"";display: block;width: 1px;height: 80px;background:white;position: absolute;left:0;}
.footer .sns{height:80px;width: 380px;text-align: right;line-height:80px;}
.footer .row{display: flex;justify-content:space-between;}
