@charset "utf-8";

/*header*/

.utilmenuwrap{background-color: #0044af;}
.utilmenu{width: 1200px;margin: 0 auto;}
.utilmenu .left{float:left;}
.utilmenu .right{float:right; margin: 0;}

.utilmenu .left li{float: left; width: 120px; margin-right:5px;}
.utilmenu .left li a{display: block;line-height:40px;text-align: center; background: #00163b; color: white;font-weight: bold;}
.utilmenu .left li a.active{background: white; color: #333;}
.utilmenu .left li a:hover{background: white; color: #333;}

.utilmenu .right li{float: left; color: white;font-size:0.8em}
.utilmenu .right li a{display: block;line-height:40px;text-align: center;padding:0 10px;color: white;}
.utilmenu .right li.btnmp a{float: left; background: #fff;color: #333;width: 20px;height: 20px;line-height:20px;padding:0;text-align: center;margin-right:2px; margin-top: 10px;}
.utilmenu .right li:first-child{line-height:40px;padding-right:10px;}
/*.utilmenu .right li:nth-child(2){padding-top:10px;}*/
.utilmenu .right li:last-child a{padding-right:0;}


.logowrap{width: 1200px;height: 120px;margin: 0 auto;}
.logoimg{margin-top:35px;}
.mainmenu{float:right;width: 730px;height: 120px;margin-right:0px;line-height:50px;position: relative;}
.mainmenu li{float: left;margin: 35px auto;}
.mainmenu li a:last-child{width: 137px;}
.mainmenu li a{width: 105px;display: block;text-align: center;font-weight:bold;}
.mainmenu li a:hover{background-color: #0044af;color: white;}
.menuli{width: 730px;position: absolute;right:70px;}
.menuimg{width: 90px;height: 120px;float: right;line-height:153px;margin-left:0;position: absolute;right:0;}
.menuimg img:first-child{margin-right:-6px;}

/*contents*/
#contents{background-image:url(../images2/patten.png),url(../images2/backg01.jpg);background-repeat:repeat,no-repeat;
	background-position:center; background-size:auto,cover; padding-bottom:30px;width: 100%;} 

.title{position: relative;}
.title .tt_txt{position: absolute;top:80px;}
.title .tt_txt p{color: white;}
.title .tt_txt p:first-child{font-size:2.5em;}
.title .tt_txt p:last-child{font-size:3.5em;}

#contents .title{width: 1200px;height: 260px;margin: 0 auto;}

.title .iconmenu{}
.title .iconmenu ul{position: absolute;right:0;top:80px;}
.title .iconmenu li{float: left;text-align: center;margin-left:20px;}
.title .iconmenu li p{color: white;font-size:0.8em;font-weight:bold;}




.container .slider li{position: relative;}
.container .slider img{height: 450px;}
.slider .sltxt{content:""; display: block; position: absolute; top:60px;left:70px;height: 270px;}
.slider .sltxt p{font-size:4.2em;color: #1651b7;margin-bottom:15px;font-variant:small-caps;letter-spacing:-7px;}
.slider .sltxt a{width: 168px;height: 40px;background: #192d4e;display: block;color:white;text-align: center;line-height:40px;font-weight:bold;}

.sliderwrap{position: relative;}
.bt1,.bt2{position: absolute;top:50%;margin-top:-50px;cursor: pointer;}
.bt1{right: 0px;} 
.bt2{left:0px;}


#contents .container{width: 1200px;margin: 0 auto;}
#contents .container>ul>li{float: left;width: 25%;height: 225px;}
#contents .container>ul>li:nth-child(1){width: 75%;height: 450px;}
#contents .container>ul>li:nth-child(2){height: 450px;}
#contents .container>ul>li:nth-child(3){background: #00163b;}
#contents .container>ul>li:nth-child(4){background: #1651b7;background-image: url(../images2/logoicon.png);background-repeat: no-repeat;background-position: 150px 60px}
#contents .container>ul>li:nth-child(5){background: white;}
#contents .container>ul>li:nth-child(6){}
#contents .container>ul>li:nth-child(7){}
#contents .container>ul>li:nth-child(8){width: 75%;}



.bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border:none;
    background:none;}

    .sliderwrap .bx-wrapper .bx-pager{
			bottom:30px;}
	.sliderwrap .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #0043ae;}



/*block two*/

.container{position: relative;}
.blocktwo{background-image: url(../images2/backg02.jpg);width: 300px;height: 450px;padding:70px 30px;}
.blocktwo .bktwo{color: white;}
.blocktwo .bktwo p:first-child{font-size:2.2em;}
.blocktwo .bktwo p:nth-child(2){margin-bottom:30px;}
.blocktwo .bktwo a{display: block;width:170px;height: 42px;background: rgba(0,0,0,0.4); color: white;font-weight: bold;border: 1px solid #fff; text-align: center;line-height:42px;}

/*block three*/
.siconmenu{padding: 30px;}
.siconmenu .sicon img{text-align: center;margin-top:30px;}
.siconmenu .sicon li{float: left;width: 61px;margin-left:16px;}
.siconmenu .sicon p{text-align: center;font-size:0.8em;width: 60px;}
.siconmenu p{color: white;}
.siconmenu p:first-child{font-weight:bold; font-size:1.5em;}

/*block four*/
.ntwrap{padding: 20px;color: white;}
.ntwrap .firstch:before{content:"";display: block;background:white;width: 240px;height: 2px;margin-bottom:20px;margin-top: 20px;}
.ntwrap li{font-size:0.8em; font-weight:bold;margin-bottom:15px;color: white;}
.ntwrap li a{color: white;}
.ntwrap span{float:right;}

/*block five*/
.newswrap{margin: 20px;position: relative;height: 200px;overflow:hidden;}
.newswrap h3{margin-bottom:20px;}
.news p{font-size:0.86em; margin-bottom:20px;}
.news a{float: left;margin-right:15px;}
.snsicon{position: absolute;right:10px;bottom:20px;}

/*block six*/

.hvimg{position: relative; overflow:hidden;}
.hvimg .hover{position: absolute;background: rgba(0,0,0,0.7);width: 100%;height: 60px;bottom:-60px;line-height:60px;padding-left:110px;transition:0.3s;}
.hvimg .hover a{color: white;}
.hvimg ul:hover .hover{bottom: 0px;transition:0.3s;}


/*block seven*/

.vdwrap{position: relative;}
.vdwrap .video2{position: absolute;top:90px;left:120px;}

/*block 8*/
.slider2{position: relative;}
.slider2 .st2{position: absolute;top:0;margin:30px;}
.slider2 .st2 p{color: #ff4f3f;}
.slider2 .st2 p:first-child{font-size:2em;}
.slider2 .st2 p:nth-child(2){font-size:4em;margin-bottom:15px;}
.slider2 .st2 a{background:rgba(255,50,31,0.8);padding: 10px 30px;border: 1px solid #fff;color: white;font-weight: bold;}

/*.slider2 */
 .bx-wrapper .bx-pager.bx-default-pager a:hover,.sliderwraptwo .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #ff4f3f;}

.sliderwraptwo .bx-wrapper .bx-pager{top:0;right:0;width: 80px;margin-right:30px;}


/*footer*/

.footerwrap{width: 1200px;margin: 0 auto; padding-top:0px;}
.footerwrap img{float:left;margin-top:10px;margin:30px 0;}
.footers{margin-left:300px; margin-bottom:30px;}
.footers .futil{float:left;margin-bottom:10px;margin-right: 130px;}
.footers .futil li{float: left;margin-right:40px;font-size:0.8em;position: relative;font-weight: bold;margin-top: 20px;}
.footers .futil li:before{content:"";display: block;width: 1px;height: 12px;background:gray; position: absolute;left:-20px;top:3px;}
.footers .futil li:first-child:before{display: none;}
.footers span{font-size:0.8em;color:darkgray;}
.footers p{font-size:0.8em;color: gray;}
